<main>
    <script>
        function cambiar_parrafo(){
            document.getElementById("acerca-de").style.display="block";
            let texto = document.getElementById("acerca-de").innerText;
            console.log(texto);
        };
    </script>
    <section class="nombre">
        <article>
            <h2>PROGRAMADOR</h2>
            <h3>Juan Bautista Rojas</h3>
        </article>
    </section>

    <section>
        <article class="acerca-de">
            <div class ="card mat-card" id = "first-card">
            <h2 id="acerca-de">ACERCA DE MÍ</h2>
            


            <div>
            <p>
                Soy un analista de sistemas volcado a la docencia de la Programación, padre de Ana Libertad me encanta trabajar en casa con mis gatos en el escritorio, 
                mi formación es ámplia y versátil, lo que me permite encarar los proyectos de manera integral y pragmática, la curiosidad y el impeuo son mis fortalezas
            </p>
            </div>
            <div class = "btn-edit" onclick="cambiar_parrafo()">
                <button class="btn-right">Editar</button>
                    <i class="fa fa-pen"></i>
            
            </div>
            <div>
                <input id="acerca-de" type="text" oninput="myFunction2(this.value)" style ="display:none">
            </div>
            </div>
        </article>

        <article class="experiencia">
            <div class ="card mat-card" id = "first-card">
                <h2 id="experiencia">EXPERIENCIA</h2>
                <h3>{{miPorfolio.empresa1}} ({{miPorfolio.duracion}})</h3>
                <img class="foto-logo" [src]="miPorfolio.logoempresa"    />
                <p>{{miPorfolio.funciones1}}</p>
                <button class="btn-edit">Editar</button>
            </div>    
        </article>

        <article class="formacion">
            <div class ="card mat-card" id = "first-card">
                <h2 id="experiencia">FORMACION</h2>
                <h3>{{miPorfolio.empresa1}} ({{miPorfolio.duracion}})</h3>
                <img class="foto-logo" [src]="miPorfolio.logoempresa"    />
                <p>{{miPorfolio.funciones1}}</p>
                <button class="btn-edit">Editar</button>
            </div>
        </article>

        <article class="proyectos">
            <div class ="card mat-card" id = "first-card">
                <h2 id="experiencia">PROYECTOS</h2>
                <h3>{{miPorfolio.empresa1}} ({{miPorfolio.duracion}})</h3>
                <img class="foto-logo" [src]="miPorfolio.logoempresa"    />
                <p>{{miPorfolio.funciones1}}</p>
                <button class="btn-edit">Editar</button>
            </div>
        </article>

        <article class="skill">
            <div class ="card mat-card" id = "first-card">
                <h2 id="experiencia">HABILIDADES</h2>
                <h3>{{miPorfolio.empresa1}} ({{miPorfolio.duracion}})</h3>
                <img class="foto-logo" [src]="miPorfolio.logoempresa"    />
                <p>{{miPorfolio.funciones1}}</p>
                <button class="btn-edit">Editar</button>
            </div>
        </article>
    </section>
</main>