<nav>
    <figure class="foto-logo">
        <a href="https://argentinaprograma.inti.gob.ar/"><img src="./assets/img/logo.png" alt="logo"></a>
    </figure>

    <h1>PORTAFOLIO</h1>

    
        <figure class="contenedor-foto-perfil">
            <link rel="https://linkedin.com/" target="_blank"><img src="./assets/img/linkedin.png" alt="lin-linkedin" class="social">
            <link rel="https://instagram.com/" target="_blank"><img src="./assets/img/instagram.png" alt="link-instagram" class="social">
            <link rel="https://web.telegram.org/" target="_blank"><img src="./assets/img/telegram.png" alt="link-telegram" class="social">
            <link rel="https://github.com/" target="_blank"><img src="./assets/img/github.png" alt="link-github" class="social">
        </figure>
    

    <button>INGRESAR</button>
</nav>
