<footer id="contactame">
    <div class="footer_top">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
                       
                <a href="#acerca-de">Acerca de</a>
                <a href="#proyecto">Proyectos</a>
                <a href="#contactame">Contacto</a>
            

          </div>  
            <div class="footer_widget wow fadeInLeftBig">
                <div class="footer_bottom">
                    <p class="copyright">Copyleft &copy; 2023 </p>
                    <p class="developer">Desarrollado por Juan Bautista Rojas</p>
                </div> 
            </div>
         </div>  
        
    </div>   
</footer>
